

<center><div style="height:100px; width: 200px;" ng-controller="QuestionController">
<label for="SUBJECT">SUBJECT</label>
<input type="text" class="form-control" name="name" id="name" value="" ng-model="subject"/><br><br>
   QUESTION: <br>
   <textarea name="comments" id="comments" cols="20" rows="3" ng-model="question"></textarea><br><br>
   YOUR OPTION ARE:<br/>
         a)<input type="text" name="a" id="a" value="" ng-model="option1"/><br>
   <br/>b)<input type="text" name="b" id="b" value="" ng-model="option2"/><br>
  <br/> c)<input type="text" name="c" id="c" value="" ng-model="option3"/><br>
 <br/>  d)<input type="text" name="d" id="d" value="" ng-model="option4"/><br>

  <br/>ANSWER: <input type="text" class="form-control" name="ans" id="ans" value="" ng-model="answer" />
 
  <button ng-click="addQuestions()">Submit</button>
</div>
