<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>




<body>

<center><div style="height:100px; width: 200px; ">
<label for="SUBJECT">SUBJECT</label>
<input type="text" class="form-control" name="name" id="name" value="" /><br><br>
   QUESTION: <br>
   <textarea name="comments" id="comments" cols="20" rows="3"></textarea><br><br>
   YOUR OPTION ARE:<br/>
         a)<input type="text" name="a" id="a" value="" /><br>
   <br/>b)<input type="text" name="b" id="b" value="" /><br>
  <br/> c)<input type="text" name="c" id="c" value="" /><br>
 <br/>  d)<input type="text" name="d" id="d" value="" /><br>

  <br/>ANSWER: <input type="text" class="form-control" name="ans" id="ans" value="" />
 
  <button ng-click="">Submit</button>
</div
</body>


</html>