<div class="entry-excerpt">
				<div style="font-family:verdana;text-align:left;line-height:200%; margin-bottom:20px; font-size:14px;">
							<h3>Institute of Information Technology &amp; Management</h3>
<p><strong>Address:</strong> D-29, Institutional Area, Janakpuri, New Delhi-110058<br />
<strong>Email :</strong> director@iitmipu.ac.in<br />
<strong>Tel :</strong> 91-011-28525882, 28520239, 28525051<br />
<strong>Fax :</strong><strong> +91-11-28520239</strong>	</p>

<div style="background-image: url(online-exam1.jpg); float: right; height: 180px; width: 500px; background-size: contain; background-repeat: no-repeat; margin-top: -170px;"></div>

</div>
<table>

<tr>
<td>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6357600660826!2d77.09981131467968!3d28.610701982426345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b5567911807%3A0x996e86fe24144daf!2sIITM+Janakpuri+%7C+Institute+of+Information+Technology+%26+Management!5e0!3m2!1sen!2sin!4v1498241316039" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</td>
<td style="height:450px;">
<MARQUEE behavior="scroll" direction="right" width="100%">
        <img src="s1.jpg" style="height: 450px;">
        <img src="slide_2.jpg" style="height: 450px;">
        <img src="s3.jpg" style="height: 450px;">
        </MARQUEE>
</td>
</tr>
</table>
</div>