<div class="entry-excerpt">
				<div style="font-family:verdana;text-align:left;line-height:200%; margin-bottom:20px; font-size:14px;">
<h3>Institute of Information Technology &amp; Management</h3>
<p><strong>Address:</strong> D-29, Institutional Area, Janakpuri, New Delhi-110058<br />
<strong>Email :</strong> director@iitmipu.ac.in<br />
<strong>Tel :</strong> 91-011-28525882, 28520239, 28525051<br />
<strong>Fax :</strong><strong> +91-11-28520239</strong>
</div>
<table>
<tr>
<td><script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati=28.618137&#038;long=77.089663&#038;zoom=16&#038;width=600&#038;height=300&#038;map_type=normal&#038;map_btn_normal=yes&#038;map_btn_satelite=yes&#038;map_btn_mixte=yes&#038;map_small=no&#038;marqueur=yes&#038;info_bulle=IITM (D-29, Institutional Area,
Janakpuri, New Delhi-110058)"></script></td>
</tr>
</table>
<div style="font-weight:bold;font-size:14px;">Send Inquiry</div>
<div role="form" class="wpcf7" id="wpcf7-f5-p33-o1" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/index.php/contact-us/#wpcf7-f5-p33-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5" />
<input type="hidden" name="_wpcf7_version" value="4.5" />
<input type="hidden" name="_wpcf7_locale" value="" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p33-o1" />
<input type="hidden" name="_wpnonce" value="aef70a09e0" />
</div>
<p>Your Name (required)<br />
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
<p>Your Email (required)<br />
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
<p>Subject<br />
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
<p>Your Message<br />
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
							</div>
			<!-- entry excerpt end --> 
		</div>