<div ng-controller="forgetController">
<div style="height: 490px; border: solid blue 1px; border-radius: 10px;">
<div style="margin-top: 100px; height: 300px; width:350px; margin-left: 100px;">
<div class="form-group">
<br/>
<br/>
<br/>
<label for="email" class="fa fa-envelope">Enter your mail Id:</label><br/><br/>
<input type="text" name="" class="form-control" placeholder="123@gmail.com" ng-model="mail">
<br/>
<center><button ng-click="sendMail()" class="btn btn-success">Submit</button></center>
</div>
</div>
</div>
</div>