<html>
<head><center><h1>REMOVE EXAMINATION</h1></center>
<title> REMOVE </title>
</head>


    
 <body bgcolor="#E6E6FA">

<center>

<button onclick="myFunction()">remove</button>

 <script> 
function myFunction() {
  alert("Are you sure to remove this");
}
</script>

<select>
  <option value>Select subject to Edit/Delete</option> 
<option value>C++</option>
  <option value>JAVA</option>
  <option value>C#</option>
</select><br><br>


    <li>
 <label><input type="checkbox" value="Exam1">Exam1</label> 
    
    </li><br>
    <li>

 <label><input type="checkbox"  value="2">Exam2</label>
    
    </li><br>
    <li>
        <label><input type="checkbox"  value="3">Exam3</label>
    
    </li><br>
    <li>
        <label><input type="checkbox" value="4">Exam4</label>
    </li><br>

    <button>Edit</button>&nbsp;&nbsp;&nbsp;   <button onclick="myFunction()">Delete</button>
   

</center>
</body>

</html>