<!DOCTYPE html>
<html>
<head>
	<title>set password page</title>
	<style></style>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body><center><br/><br/><br/>
<div style="height: 320px; width: 400px; background-color: lavender;">
	<div class="form-group"><br/><h3>Set New Password</h3>
	<br/><br/>
	<label for="pwd" class="fa fa-lock"> New Password:</label><br/>
	<input type="password" ng-model="pass" placeholder="Username" class="form-control"><br/>
	<label for="pwd" class="fa fa-lock">Confirm Password:</label><br/>
	<input type="password" ng-model="Cpass" placeholder="password" class="form-control"><br/>
	<button ng-click="" class="btn btn-info">Submit</button>
	</div>
</div></center>
</body>
</html>




